Repository a11yphant/a11yphant: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker, install-dependencies:api, generate-graphql-schema:api, lint:api, test:api, install-dependencies:site, lint:site, test:site

install-dependencies:submission-checker:
  variables:
    PROJECT_PATH: services/submission-checker

lint:submission-checker:
  needs:
  - install-dependencies:submission-checker
  variables:
    PROJECT_PATH: services/submission-checker

test:submission-checker:
  needs:
  - install-dependencies:submission-checker
  variables:
    PROJECT_PATH: services/submission-checker

install-dependencies:api:
  variables:
    PROJECT_PATH: services/api

generate-graphql-schema:api:
  tags:
  - docker
  stage: generate
  needs:
  - install-dependencies:api
  image: node:14-alpine
  variables:
    PROJECT_PATH: services/api
  script: npm run generate-schema --prefix $PROJECT_PATH
  cache:
    paths:
    - $PROJECT_PATH/schema.gql

lint:api:
  needs:
  - install-dependencies:api
  variables:
    PROJECT_PATH: services/api

test:api:
  needs:
  - install-dependencies:api
  variables:
    PROJECT_PATH: services/api

install-dependencies:site:
  variables:
    PROJECT_PATH: services/site

lint:site:
  needs:
  - install-dependencies:site
  - generate-graphql-schema:api
  variables:
    PROJECT_PATH: services/site

test:site:
  needs:
  - install-dependencies:site
  - generate-graphql-schema:api
  variables:
    PROJECT_PATH: services/site

chore(deps): regenerate version 1 lockfile
  services/submission-checker/package-lock.json
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

style(submission-checker): fix formatting
  services/submission-checker/src/app.module.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

chore(ci): Extract rules to own file
  .gitlab-ci.yml
  ci/templates/gitlab-ci-rules.yml
Due: none

style(lint): fix formatting issues
  services/submission-checker/src/check-submission.controller.ts
  services/submission-checker/src/renderer/renderer.controller.ts
  services/submission-checker/src/renderer/renderer.module.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

chore(deps): remove selenium webdriver from root
  package-lock.json
  package.json
Due: none

chore(ci): Change extends order
  .gitlab-ci.yml
Due: none

chore(setup): add docker-compose to pm2
  pm2-ecosystem.config.js
Due: none

chore(ci): Make own rule for site and api change
  .gitlab-ci.yml
  ci/templates/gitlab-ci-rules.yml
Due: none

chore(ci): Remove rules comment
  ci/templates/gitlab-ci-rules.yml
Due: none

chore(ci): Only cache .npm
  .gitlab-ci.yml
Due: none

chore(ci): Add default before_script
  .gitlab-ci.yml
  ci/templates/gitlab-ci-lint.yml
  ci/templates/gitlab-ci-test.yml
Due: none

chore(ci): Add expire_in 1 day to artifacts
  .gitlab-ci.yml
Due: none

chore(deps): add dependencies and env variables
  .env.example
  services/submission-checker/package-lock.json
  services/submission-checker/package.json
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feature(challenge): Implement tailwind tabbar
  services/site/src/components/TabBar.tsx
  services/site/src/components/challenge/Editor.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feature(challenge): Enable switching between editors
  services/site/src/components/challenge/Editor.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feature(challenge): Omit fixed ControlledEditorProps props
  services/site/src/components/challenge/Editor.tsx
  services/site/src/pages/challenge.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feature(challenge): Add link to tailwind ui tabs component
  services/site/src/components/TabBar.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feature(challenge): Add monaco editor
  services/site/package-lock.json
  services/site/package.json
  services/site/src/components/challenge/Editor.tsx
  services/site/src/pages/challenge.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feature(challenge): Use multiple editors instead of just one
  services/site/src/components/challenge/Editor.tsx
  services/site/src/components/challenge/editor/WrappedEditor.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

test(browserservice): mock driver.quit function
  services/submission-checker/src/browser.service.spec.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

style(submission-checker): fix linting error
  services/submission-checker/src/browser.service.spec.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feat(submission-checker): remove unused param in renderer controller
  services/submission-checker/src/renderer/renderer.controller.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

chore(submission-checker): add lint staged rules
  lint-staged.config.js
Due: none

chore(ts): change target version
  services/submission-checker/tsconfig.json
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feat(submission): adapt check result formatting
  services/submission-checker/src/browser.service.spec.ts
  services/submission-checker/src/browser.service.ts
  services/submission-checker/src/check-result.interface.ts
  services/submission-checker/src/check-submission.service.spec.ts
  services/submission-checker/src/check-submission.service.ts
  services/submission-checker/src/submission.model.ts
  services/submission-checker/src/submission.service.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

chore(deps): package lock update
  services/submission-checker/package-lock.json
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

fix(challenge): Add key to button im map
  services/site/src/components/TabBar.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feature(challenge): Add preview and link with editor
  services/site/src/components/challenge/Editor.tsx
  services/site/src/components/challenge/Preview.tsx
  services/site/src/pages/challenge.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feature(challenge): Add basic styling
  services/site/src/components/challenge/Preview.tsx
  services/site/src/pages/challenge.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feat(submission): add submission service to app
  services/submission-checker/src/app.module.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feature(challenge): Add throttle to preview rerender
  services/site/package-lock.json
  services/site/package.json
  services/site/src/components/challenge/Preview.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feat(level): add level to submission structure
  services/submission-checker/src/check-submission.service.spec.ts
  services/submission-checker/src/check-submission.service.ts
  services/submission-checker/src/level.model.ts
  services/submission-checker/src/submission.model.ts
  services/submission-checker/src/submission.service.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feature(challenge): Rerender preview after one second if nothing changed
  services/site/src/components/challenge/Preview.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feat(submission): render submitted snippets
  services/submission-checker/src/app.module.ts
  services/submission-checker/src/check-submission.controller.ts
  services/submission-checker/src/renderer.controller.ts
  services/submission-checker/src/renderer/renderer.controller.ts
  services/submission-checker/src/renderer/renderer.module.ts
  services/submission-checker/src/submission.service.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

chore(challenge): Uninstall lodash
  services/site/package-lock.json
  services/site/package.json
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

fix(deps): pin dependencies
  services/site/package.json
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feat(api): allow specifying if app runs in lamba
  services/api/src/config/api.config.ts
Due: install-dependencies:api, generate-graphql-schema:api, lint:api, test:api

feat(api): add lambda entry point
  services/api/package-lock.json
  services/api/package.json
  services/api/src/main.ts
Due: install-dependencies:api, generate-graphql-schema:api, lint:api, test:api

chore(api): update sam template
  template.yml
Due: none

Path conditions:
  install-dependencies:submission-checker: any of: services/submission-checker/**/*
  lint:submission-checker: any of: services/submission-checker/**/*
  test:submission-checker: any of: services/submission-checker/**/*
  install-dependencies:api: (any of: services/api/**/*) or (any of: services/site/**/*)
  generate-graphql-schema:api: (any of: services/api/**/*) or (any of: services/site/**/*)
  lint:api: any of: services/api/**/*
  test:api: any of: services/api/**/*
  install-dependencies:site: any of: services/site/**/*
  lint:site: any of: services/site/**/*
  test:site: any of: services/site/**/*
