Repository a11yphant/a11yphant: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker, install-dependencies:api, generate-graphql-schema:api, lint:api, test:api, install-dependencies:site, lint:site, test:site

install-dependencies:submission-checker:
  variables:
    PROJECT_PATH: services/submission-checker

lint:submission-checker:
  needs:
  - install-dependencies:submission-checker
  variables:
    PROJECT_PATH: services/submission-checker

test:submission-checker:
  needs:
  - install-dependencies:submission-checker
  variables:
    PROJECT_PATH: services/submission-checker

install-dependencies:api:
  variables:
    PROJECT_PATH: services/api

generate-graphql-schema:api:
  tags:
  - docker
  stage: generate
  needs:
  - install-dependencies:api
  image: node:14-alpine
  variables:
    PROJECT_PATH: services/api
  script: npm run generate-schema --prefix $PROJECT_PATH
  cache:
    paths:
    - $PROJECT_PATH/schema.gql

lint:api:
  needs:
  - install-dependencies:api
  variables:
    PROJECT_PATH: services/api

test:api:
  needs:
  - install-dependencies:api
  variables:
    PROJECT_PATH: services/api

install-dependencies:site:
  variables:
    PROJECT_PATH: services/site

lint:site:
  needs:
  - install-dependencies:site
  - generate-graphql-schema:api
  variables:
    PROJECT_PATH: services/site

test:site:
  needs:
  - install-dependencies:site
  - generate-graphql-schema:api
  variables:
    PROJECT_PATH: services/site

chore(ci): Add global cache
  .gitlab-ci.yml
  ci/templates/gitlab-ci-cache.yml
  ci/templates/gitlab-ci-lint.yml
  ci/templates/gitlab-ci-npm-dependencies.yml
  ci/templates/gitlab-ci-test.yml
Due: none

chore(ci): Remove include from templates
  .gitlab-ci.yml
  ci/templates/gitlab-ci-cache.yml
  ci/templates/gitlab-ci-lint.yml
  ci/templates/gitlab-ci-npm-dependencies.yml
  ci/templates/gitlab-ci-test.yml
Due: none

chore(ci): Try to add cache to all jobs
  .gitlab-ci.yml
Due: none

chore(ci): Try only global cache
  .gitlab-ci.yml
  ci/templates/gitlab-ci-cache.yml
Due: none

chore(ci): Move node_module path out of global cache
  ci/templates/gitlab-ci-cache.yml
  ci/templates/gitlab-ci-npm-dependencies.yml
Due: none

chore(ci): Add node_modules to generate cache path
  .gitlab-ci.yml
Due: none

chore(ci): Only add global cache
  .gitlab-ci.yml
  ci/templates/gitlab-ci-cache.yml
  ci/templates/gitlab-ci-lint.yml
  ci/templates/gitlab-ci-npm-dependencies.yml
  ci/templates/gitlab-ci-test.yml
Due: none

chore(ci): Add full path to global cache
  .gitlab-ci.yml
Due: none

chore(ci): Add site node_modules to cache
  .gitlab-ci.yml
Due: none

fix(deps): update react monorepo to v17
  services/site/package-lock.json
  services/site/package.json
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

chore(root): Fix typo in readme
  Readme.md
Due: none

chore(api): Update package-lock.json
  services/api/package-lock.json
Due: install-dependencies:api, generate-graphql-schema:api, lint:api, test:api

chore(site): Update package-lock.json
  services/site/package-lock.json
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feat(submission-checker): initialize project
  services/submission-checker/.eslintrc.js
  services/submission-checker/.gitignore
  services/submission-checker/.prettierrc
  services/submission-checker/README.md
  services/submission-checker/nest-cli.json
  services/submission-checker/package-lock.json
  services/submission-checker/package.json
  services/submission-checker/src/app.controller.spec.ts
  services/submission-checker/src/app.controller.ts
  services/submission-checker/src/app.module.ts
  services/submission-checker/src/app.service.ts
  services/submission-checker/src/main.ts
  services/submission-checker/tsconfig.build.json
  services/submission-checker/tsconfig.json
  services/submission-checker/tsconfig.lint.json
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

chore(setup): add submission checker to pm2
  package.json
  pm2-ecosystem.config.js
Due: none

chore(deps): update lock file metadata
  services/api/package-lock.json
  services/site/package-lock.json
Due: install-dependencies:api, generate-graphql-schema:api, lint:api, test:api, install-dependencies:site, lint:site, test:site

chore(deps): pin dependencies
  package.json
Due: none

feat(submission-checker): check page using axe
  package-lock.json
  package.json
  services/submission-checker/__mocks__/@axe-core/webdriverjs.ts
  services/submission-checker/package-lock.json
  services/submission-checker/package.json
  services/submission-checker/src/browser.service.spec.ts
  services/submission-checker/src/browser.service.ts
  services/submission-checker/src/check-submission.service.spec.ts
  services/submission-checker/src/check-submission.service.ts
  services/submission-checker/src/webdriver.factory.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feat(submission-checker): get submission url from config
  services/submission-checker/src/app.module.ts
  services/submission-checker/src/check-submission.service.spec.ts
  services/submission-checker/src/check-submission.service.ts
  services/submission-checker/src/config/submission-renderer.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

chore(submission-renderer): remove unused dummy controller and service
  services/submission-checker/src/app.controller.spec.ts
  services/submission-checker/src/app.controller.ts
  services/submission-checker/src/app.module.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

style(submission-checker): format package json
  services/submission-checker/package.json
  services/submission-checker/src/app.module.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feat(sumbission checker): add dummy renderer module
  services/submission-checker/src/app.module.ts
  services/submission-checker/src/main.ts
  services/submission-checker/src/renderer/renderer.controller.ts
  services/submission-checker/src/renderer/renderer.module.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feat(submission-checker): add dummy controller to initiate evaluation of snippet
  services/submission-checker/src/app.module.ts
  services/submission-checker/src/check-submission.controller.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feat(submission-checker): use selenium on localhost
  services/submission-checker/src/webdriver.factory.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

chore(setup): add a selenium container
  docker-compose.yml
Due: none

feat(submission-checker): close webdriver session and return axe-results
  services/submission-checker/src/browser.service.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feat(submission-sevice): return axe test result
  services/submission-checker/src/check-submission.service.spec.ts
  services/submission-checker/src/check-submission.service.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

feat(submission checker): wait for axe results
  services/submission-checker/src/browser.service.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

fix(deps): update nest monorepo to v7.6.4
  services/api/package-lock.json
  services/api/package.json
Due: install-dependencies:api, generate-graphql-schema:api, lint:api, test:api

fix(deps): update remark monorepo
  services/site/package-lock.json
  services/site/package.json
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

feat(submission-checker): make snippet more accessible
  services/submission-checker/src/renderer/renderer.controller.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

chore(ci): Echo project dir for debugging
  .gitlab-ci.yml
Due: none

chore(ci): Echo debugging info
  ci/templates/gitlab-ci-lint.yml
  ci/templates/gitlab-ci-npm-dependencies.yml
Due: none

chore(ci): Remove debugging echos
  .gitlab-ci.yml
  ci/templates/gitlab-ci-lint.yml
  ci/templates/gitlab-ci-npm-dependencies.yml
Due: none

chore(ci): Add best practice from gitlab ci docs
  .gitlab-ci.yml
  ci/templates/gitlab-ci-lint.yml
  ci/templates/gitlab-ci-npm-dependencies.yml
  ci/templates/gitlab-ci-test.yml
  services/api/src/main.ts
Due: install-dependencies:api, generate-graphql-schema:api, lint:api, test:api

chore(ci): Cache all untracked files
  .gitlab-ci.yml
Due: none

chore(ci): Readd artifacts to generate-graphql-schema:api
  .gitlab-ci.yml
  services/site/src/pages/index.tsx
Due: install-dependencies:api, generate-graphql-schema:api, install-dependencies:site, lint:site, test:site

chore(ci): Display contents of .npm for debugging
  ci/templates/gitlab-ci-lint.yml
Due: none

chore(deps): update typescript-eslint monorepo to v4.11.0
  services/api/package-lock.json
  services/api/package.json
  services/site/package-lock.json
  services/site/package.json
Due: install-dependencies:api, generate-graphql-schema:api, lint:api, test:api, install-dependencies:site, lint:site, test:site

feat(submission-checker): setup config module
  .env.example
  services/submission-checker/src/app.module.ts
  services/submission-checker/src/config/app.config.ts
  services/submission-checker/src/main.ts
Due: install-dependencies:submission-checker, lint:submission-checker, test:submission-checker

Path conditions:
  install-dependencies:submission-checker: any of: services/submission-checker/**/*
  lint:submission-checker: any of: services/submission-checker/**/*
  test:submission-checker: any of: services/submission-checker/**/*
  install-dependencies:api: (any of: services/api/**/*) or (any of: services/site/**/*)
  generate-graphql-schema:api: (any of: services/api/**/*) or (any of: services/site/**/*)
  lint:api: any of: services/api/**/*
  test:api: any of: services/api/**/*
  install-dependencies:site: any of: services/site/**/*
  lint:site: any of: services/site/**/*
  test:site: any of: services/site/**/*
